/*colors and fonts*/
body {
background:#FFF5DA;
color: rgb(50, 50, 50);
font-family: 'Lora', serif;
font-size: 17px;
font-weight: lighter;
  }
  h1,h2,h3 {
  font-family: 'Roboto', sans-serif;
  }
h1 {
color: #575F7D ;
font-size: 32px;
font-weight: 900;
}
h2{
color: #7ECE90;
font-size: 20px;
font-weight: lighter;
font-weight: 500;
}
a {
	font-family: 'Roboto', sans-serif;
text-decoration: none;
color: #6B72E1;
font-weight: 600;
font-size: 16px;
}
a:hover {
color: black; 
}
div  {
background: white;
border: 2px solid;
	}
/*custom disign with class */
.container {
width: 700px;
margin: 300px;
}
@media (max-width: 500px) {
.container {
	width: 400px;
	  }

	}
.card-white {
background: white;
padding: 40px;       
box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
border-radius: 4px;
margin: 20px 0px;
text-align: center;
}
.img-circle {
border-radius: 50%;
	}
	.bnt-blue {
		background:#6B72E1 ;
		color: white;
		padding: 15px 20px ;
		}
 .liste-inline{
list-style: none;
padding: 0px;
}

.liste-inline li {
display: inline;
padding: 10px;
}
.liste-inline i {
font-size: 50px;
}








